.EightBall{
  margin: 100px auto;
  height: 200px;
  width: 200px;
  background-color: black;
  text-align: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.EightBall-msg{
  position: relative;
  color: white;
  top: 43%;
  font-weight: bold;
  font-size: 22px;
}

.EightBall-reset {
  display: block;
  margin: auto;
  height: 45px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
}

.EightBall-counters {
  margin-top: 20px;
  text-align: center;
}